.card {
	width: 18em;
	opacity: 0.5;
	text-align: center;
	border-radius: 20px;
	transition: 1s ease;
	margin: 5% 0% 5% 0%;
}

.card img {
	align-self: center;
	height: 50%;
	width: 50%;
	border-radius: 50%;
	margin-top: 5%;
}

.card:hover {
	opacity: 1;
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}

#first {
	margin-top: 2%;
}

#first .show {
	display: none;
}

#first:hover {
	color: #FFFFFF;
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

#first:hover .show {
	display: inline;
}

#first:hover .normal {
	display: none;
}


