@media only screen and (max-width: 1100px) {
	.card {
		margin: 20% 0% 20% 0%;
		width: 16em;
	}
}

@media only screen and (min-width: 1101px) {
	.card {
		margin: 12% 0% 12% 0%;
		width: 18em;
	}
}

@media only screen and (min-width: 1800px) {
	.card {
		margin: 5% 0% 5% 0%;
	}
}

@media only screen and (min-width: 2000px) {
	.card {
		margin: 2% 0% 2% 0%;
	}
}

.card {
	opacity: 0.5;
	text-align: center;
	border-radius: 20px;
	transition: 1s ease;
}

.card img {
	align-self: center;
	height: 50%;
	width: 50%;
	margin-top: 5%;
}

.card:hover {
	opacity: 1;
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    box-shadow: 0 0 15px #000000;

}

#instagram {
	margin-top: 2%;
	font-family: Proxima Nova;
}

#instagram img {
	border-radius: 50%;
}

#instagram .show {
	display: none;
}

#instagram:hover {
	color: #FFFFFF;
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

#instagram:hover .show {
	display: inline;
}

#instagram:hover .normal {
	display: none;
}

#snapchat {
	font-family: Avenir Next;
}

#snapchat .show {
	display: none;
}

#snapchat:hover {
	background: #FFFC00;
}

#snapchat:hover .show {
	display: inline;
}

#snapchat:hover .normal {
	display: none;
}

