html {
  height: 100%;
}

body {
	width: 100%;
  	height: 100%;
}

nav img {
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

#intro {
	background: linear-gradient(45deg, #845EC2 0%,#D65DB1 20%,#FF6F91 40%,#FF9671 60%,#FFC75F 80%, #F9F871 100%);
}

#second {
    background: linear-gradient(45deg, #845EC2 0%,#2C73D2 20%,#0081CF 40%,#0089BA 60%,#008E9B 80%, #008F7A 100%);
}

#third {
    background: linear-gradient(45deg, #D16BA5 0%, #86A8E7 66%, #5FFBF1 100%)
}

#last {
    padding-bottom: 5%;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
}

#heart {
    color: red;
}